<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym List</title>
</head>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    $( function() {
        var jqtable = $.ajax({
            url: "/get-gym-list/",
            dataType: "json",
            async: false
        }).responseText;
        var jsonData_table = JSON.parse(jqtable);
        var jq_table_data = Object.values(jsonData_table);
        $(document).ready(function(){
            $('#jq_table_div').DataTable({
                searching: false,
                lengthChange: false,
                pageLength: 20,
                info: false,
                data: jq_table_data,
                columns: [
                    {width: "16%", title: "Gym Name"},

                    {title: "Address"},
                    {title: "Zip Code"},
                    {title: "Phone"},
                    {title: "Re-Crawled At"},
                    {width: "20%", title: "Link", render: function(data) {
                        return $('<a>').attr('href', data).attr('target','_blank').text("Link").wrap('<div></div>').parent().html();
                    }}
                    ],
                order: [[ 0, "desc" ]]
            });

        });
    });

</script>


<body>


<section class="container card" style="padding: 30px; margin-top: 20px; margin-bottom: 20px">

    <div class="row">
        <div class="col-md-12">
            <h2 style="display: inline">Planet Fitness Gym Locations</h2>
        </div>
        <div class="col-md-12">
            <table id="jq_table_data" class="table table-striped table-bordered dt-responsive nowrap"></table>
        </div>
    </div>
</section>
</body>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>

