<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym List</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script>
    $( function() {
        var jqtable = $.ajax({
            url: "/get-gym-list/",
            dataType: "json",
            async: false
        }).responseText;
        var jsonData_table = JSON.parse(jqtable);
        var jq_table_data = Object.values(jsonData_table);
        $(document).ready(function(){
            $('#jq_table_div').DataTable({
                pageLength: 20,
                data: jq_table_data,
                columns: [
                    {title: "Gym Name"},

                    {title: "Address"},
                    {title: "Zip Code"},
                    {title: "Phone"},
                    {title: "Re-Crawled At"},
                    {width: "20%", title: "Link", render: function(data) {
                        return $('<a>').attr('href', data).attr('target','_blank').text("Link").wrap('<div></div>').parent().html();
                    }}
                    ],
                order: [[ 0, "desc" ]]
            });

        });
    });

</script>


<body>



    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Planet Fitness Gym Locations</h2>
        </div>
    </div>

        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table id="jq_table_div" class="table nowrap" width="100%"></table>
        </div>
    </div>

</body>

</html>

