<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

    <title>Awen & Aoran</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="/static/css/new-age.css" rel="stylesheet">


</head>


<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Awen & Aoran </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-brand page-scroll" href="#we">We 👨‍🚀</a>
                    </li>
                    <li>
                        <a class="navbar-brand page-scroll" href="#features">Empower 🚀</a>
                    </li>
                    <li>
                        <a class="navbar-brand page-scroll" href="#contact">Clients 🤜 🤛</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div style="display: inline-block"><h1></h1></div>
                            <div id="content-1" style="display: inline-block"><h1>Improve Your Social Media Marketing</h1></div>
                            <div id="content-2" style="display: inline-block"><h1>Refine Your UX Content Strategy</h1></div>
                            <div id="content-3" style="display: inline-block"><h1>Create Your Storytelling Video</h1></div>
                            <div id="content-4" style="display: inline-block"><h1>Find Your Next Customer</h1></div>

                            <div><a href="#contact" class="btn btn-outline btn-xl page-scroll">Contact For More Information!</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="we" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Awen & Aoran</h2>
                    <h3 class="section-heading">Awen & Aoran is a media and business strategy agency. We create positive impact to make your company even bigger 😉.</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Everything you ever wanted to know about VC, PE and Startup in one place.</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-grid text-primary"></i>
                                    <h3>Companies</h3>
                                    <p class="text-muted">Angel-backed Startup</p>
                                    <p class="text-muted">PE & VC Backed Startup </p>
                                    <p class="text-muted">Strategic Acquirers</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-direction text-primary"></i>
                                    <h3>INVESTORS</h3>
                                    <p class="text-muted">Partners and Board Members</p>
                                    <p class="text-muted">Portfolio & Preference</p>
                                    <p class="text-muted">Deal Details</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-chart text-primary"></i>
                                    <h3>Transactions</h3>
                                    <p class="text-muted">Term, Valuations & Multiples</p>
                                    <p class="text-muted">Investors and Buyers</p>
                                    <p class="text-muted">Deal History</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-people text-primary"></i>
                                    <h3>Contacts</h3>
                                    <p class="text-muted">Key Contacts at Startup</p>
                                    <p class="text-muted">Key Contacts at VC & PE</p>
                                    <p class="text-muted">Key Contacts at Funds</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2 style="max-width: 650px">Stop waiting.<br>Start discovering.</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new customers!</h2>
            <a href="mailto:business.development@lookingfor.company?Subject=let's talk business" class="btn btn-outline btn-xl page-scroll"><h3><i class="fa fa-envelope-o"></i> Let's Get Started!</h3></a>


        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2017 Awen & Aoran. All Rights Reserved.</p>
{#            <ul class="list-inline">#}
{#                <li>#}
{#                    <a href="#">Privacy</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Terms</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">FAQ</a>#}
{#                </li>#}
{#            </ul>#}
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.1.3.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/new-age.min.js"></script>

</body>

<script>
    var divs = $('div[id^="content-"]').hide(), i = 0;
    (function cycle() {
        divs.eq(i).fadeIn(400).delay(2000).fadeOut(400, cycle);
        i = ++i % divs.length;
    })();
</script>

</html>
